@use "../../theme" as *;

#s_home_contact_cta {
   .my_card {
      background-color: var(--card-bg-5);
      border: var(--border-primary-4);
      max-width: 950px;
   }

   // Icon inside main card
   .my_icon {
      width: 56px; height: 56px;
      background: var(--icon-bg-1);
   }
}