@use "../../theme" as *;

#s_home_featured {
   min-height: min(100vh, 1080px);
   display: flex; flex-direction: column; justify-content: center;

   background-color: var(--bs-secondary-bg);

   .project_grid_card {
      border: var(--border-primary-3);

      .card-body {
         background-color: var(--card-bg-3);
      }
   }
}