<div>
    <div class="my_logo">
        <div class="initial_ctn top">
            <div class="inner">
                <div class="initial" style="top: 0;">DC</div>
            </div>
        </div>
        <div class="initial_ctn bottom">
            <div class="inner">
                <div class="initial" style="bottom: 0;">DC</div>
            </div>
        </div>
        <div class="animation-container center_text">
            <span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span>
        </div>
    </div>
</div>