@use "../theme" as *;

/*
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/georgia-pro-cond');

// Instrument Serif
.ff-instrument {
  font-family: 'Instrument Serif', serif;
}
// Instrument Serif Italic
.ff-instrument-italic {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
}
// Inter Variable
.ff-inter {
  font-family: 'Inter', sans-serif;
  font-weight: 100 900;  
}
// Inter Italic Variable
.ff-inter-italic {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 100 900;
}
// Georgia Pro
.ff-georgia-pro { font-family: 'Georgia Pro', sans-serif; }
.ff-georgia-pro-cond { font-family: 'Georgia Pro Cond', sans-serif; }
.ff-georgia-pro-light { font-family: 'Georgia Pro Light', sans-serif; }
.ff-georgia-pro-cond-light { font-family: 'Georgia Pro Cond Light', sans-serif; }
.ff-georgia-pro-semibold { font-family: 'Georgia Pro Semibold', sans-serif; }
.ff-georgia-pro-cond-semibold { font-family: 'Georgia Pro Cond Semibold', sans-serif; }
.ff-georgia-pro-black { font-family: 'Georgia Pro Black', sans-serif; }
.ff-georgia-pro-cond-black { font-family: 'Georgia Pro Cond Black', sans-serif; }
*/

// Instrument Serif
@font-face {
   font-family: 'instrument-serif';
   src: url("@fonts/instrument-serif.ttf") format('truetype');
   font-optical-sizing: auto;
   font-style: normal;
}
.ff-instrument { font-family: "instrument-serif", sans-serif; }

// Instrument Serif Italic
@font-face {
   font-family: 'instrument-serif-italic';
   src: url("@fonts/instrument-serif-italic.ttf") format('truetype');
   font-optical-sizing: auto;
   font-style: normal;
}
.ff-instrument-italic { font-family: "instrument-serif-italic", sans-serif; }

// Inter Variable
@font-face {
   font-family: 'inter-variable';
   src: url("@fonts/inter-variable.ttf") format('truetype');
   font-weight: 100 900;
   font-display: swap;
   font-style: normal;
}
.ff-inter { font-family: "inter-variable", sans-serif; }

// Inter Italic Variable
@font-face {
   font-family: 'inter-italic-variable';
   src: url("@fonts/inter-italic-variable.ttf") format('truetype');
   font-weight: 100 900;
   font-display: swap;
   font-style: normal;
}
.ff-inter-italic { font-family: "inter-italic-variable", sans-serif; }

// ---------------------------------------------------------------------------------------------------------------------
// -- Georgia Pro --
//@font-face {
//   font-family: 'Georgia Pro Cond';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondRegular.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Cond Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondItalic.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Cond Bold';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondBold.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Cond Bold Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondBoldItalic.woff') format('woff');
//}
@font-face {
   font-family: 'Georgia Pro Italic';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-Italic.woff') format('woff');
}
//@font-face {
//   font-family: 'Georgia Pro Cond Light';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondLight.woff') format('woff');
//}
@font-face {
   font-family: 'Georgia Pro Light';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-Light.woff') format('woff');
}
//@font-face {
//   font-family: 'Georgia Pro Cond Light Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Georgia Pro Cond Light Italic'), url('@fonts/georgia-pro/GeorgiaPro-CondLightItalic.woff') format('woff');
//}
@font-face {
   font-family: 'Georgia Pro Light Italic';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-LightItalic.woff') format('woff');
}
//@font-face {
//   font-family: 'Georgia Pro Cond Semibold';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondSemiBold.woff') format('woff');
//}
@font-face {
   font-family: 'Georgia Pro Semibold';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-SemiBold.woff') format('woff');
}
//@font-face {
//   font-family: 'Georgia Pro Cond Semibold Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondSemiBoldItalic.woff') format('woff');
//}
@font-face {
   font-family: 'Georgia Pro Semibold Italic';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-SemiBoldItalic.woff') format('woff');
}
@font-face {
   font-family: 'Georgia Pro Bold';
   font-style: normal;
   font-weight: normal;
   src: url('@fonts/georgia-pro/GeorgiaPro-Bold.woff') format('woff');
}
//@font-face {
//   font-family: 'Georgia Pro Bold Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Georgia Pro Bold Italic'), url('@fonts/georgia-pro/GeorgiaPro-BoldItalic.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Black';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-Black.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Cond Black';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@fonts/georgia-pro/GeorgiaPro-CondBlack.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Black Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Georgia Pro Black Italic'), url('@fonts/georgia-pro/GeorgiaPro-BlackItalic.woff') format('woff');
//}
//@font-face {
//   font-family: 'Georgia Pro Cond Black Italic';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Georgia Pro Cond Black Italic'), url('@fonts/georgia-pro/GeorgiaPro-CondBlackItalic.woff') format('woff');
//}
.ff-georgia-pro-italic { font-family: 'Georgia Pro Italic', sans-serif; }
.ff-georgia-pro-light-italic { font-family: 'Georgia Pro Light Italic', sans-serif; }
.ff-georgia-pro-semibold-italic { font-family: 'Georgia Pro Semibold Italic', sans-serif; }

.ff-georgia-pro-light { font-family: 'Georgia Pro Light', sans-serif; }
.ff-georgia-pro-semibold { font-family: 'Georgia Pro Semibold', sans-serif; }
.ff-georgia-pro-black { font-family: 'Georgia Pro Black', sans-serif; }

// Body Text Font
.body-text, .body-text-sm {
   font-weight: 400;
   color: $frost-100;
   line-height: 1.5;
}
.body-text {
   font-size: 1rem;
   @media(min-width: $sm_bp) { font-size: 1.125rem; }
}
.body-text-sm {
   font-size: .875rem;
   @media(min-width: $sm_bp) { font-size: 1rem; }
}