@use "../theme" as *;
@use "../mixins" as *;

html {

}

body {
   background-color: var(--bs-body-bg);
   color: var(--bs-body-text);

   overflow-x: hidden;
   margin: 0;

   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between;

   font-family: "inter-variable", sans-serif;
}

button, a {
   transition: $base-transition;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.3; }

// Gutter padding varibales and container reset
.px-gutter {
   & { padding-left: calc(var(--bs-gutter-x) / 2); }
   & { padding-right: calc(var(--bs-gutter-x) / 2); }
   @include responsive-gutter;
}
.ps-gutter {
   & { padding-left: calc(var(--bs-gutter-x) / 2); }
   @include responsive-gutter;
}
.pe-gutter {
   & { padding-right: calc(var(--bs-gutter-x) / 2); }
   @include responsive-gutter;
}
.mx-gutter-n {
   & { margin-left: calc(0rem - (var(--bs-gutter-x) / 2)); }
   & { margin-right: calc(0rem - (var(--bs-gutter-x) / 2)); }
   @include responsive-gutter;
}
.ms-gutter-n {
   & { margin-left: calc(0rem - (var(--bs-gutter-x) / 2)); }
   @include responsive-gutter;
}
.me-gutter-n {
   & { margin-right: calc(0rem - (var(--bs-gutter-x) / 2)); }
   @include responsive-gutter;
}

// Project wide css variables
:root {
   --navbar-height: 64px; // nav height
}

// Project specific class Variables
.d-center {
   display: flex; align-items: center; justify-content: center;
}
.my_image-fluid {
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   object-fit: cover;
}
.opacity-70 { opacity: 0.7; }
.opacity-80 { opacity: 0.8; }
.opacity-90 { opacity: 0.9; }