@use "../theme" as *;

// Tag Primary | Glowing Tag
.tag-primary {
   height: 24px;
   position: relative;
   display: inline-block;

   // text and background element
   .tag_inner {
      position: relative; z-index: 2;
      border-radius: var(--bs-border-radius-pill);
      display: flex; align-items: center; justify-content: center;
      height: 100%;
      padding: 0 .75rem;
      text-wrap: nowrap;
      background-color: $midnight-800;
      font-size: 13px;
      color: $ocean-400;
      line-height: 1.3;
   }

   // pulsing animation
   &::after {
      content: "";
      position: absolute; z-index: 1;
      inset: 0;
      width: 100%; height: 100%;
      border-radius: var(--bs-border-radius-pill);
      background-color: $ocean-400;
      animation: ping-grow 1.75s ease-out infinite;
   }
}

@keyframes ping-grow {
   0% {
      box-shadow: 0 0 0 0 $ocean-400;
      opacity: 0.6;
   }
   70% {
      box-shadow: 0 0 0 5px $ocean-400;
      opacity: 0;
   }
   100% {
      box-shadow: 0 0 0 5px $ocean-400;
      opacity: 0;
   }
}