@use "../../theme" as *;

#s_about_hero {
   padding-top: var(--navbar-height);

   button {
      border: none;
      background: none;
      cursor: pointer;
      &:focus {
         outline: none;
         border: none;
      }
   }

   /* ------------------------------------------------ */
   /* -------------------- SLIDER -------------------- */
   /* ------------------------------------------------ */

   .slider_ctn {
      --slide-transition-duration: 800ms;
      --slide-transition-easing: ease;

      --slide-aspect: 11 / 16;
      @media(min-width: $sm_bp) { --slide-aspect: 13 / 16; }

      --slide-width: 28vw;
      @media(min-width: $sm_bp) { --slide-width: 30vw; }
      @media(min-width: $md_bp) { --slide-width: min(29.4vw, 300px); }
      @media(min-width: $lg_bp) { --slide-width: min(25vw, 300px); }
      @media(min-width: $xl_bp) { --slide-width: min(25vw, 300px); }

      position: relative;
      width: 100%;

      height: calc(2.34 * var(--slide-width));
      @media(min-width: $sm_bp) { height: calc(1.48 * var(--slide-width)); }
   }
   .slider {
      width: calc(3 * var(--slide-width));
      height: 100%;
      display: flex;
      align-items: center;

      position: absolute;
      top: 0; left: 50%;
      transform: translateX(-50%);
   }

   .slider--btn {
      --size: 40px;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 0.7;
      transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
      z-index: 999;

      & svg {
         width: var(--size);
         height: var(--size);
         stroke: white;
      }

      &:hover {
         opacity: 1;
      }
   }

   .slides__wrapper {
      width: 100%;
      height: 100%;

      display: grid;
      place-items: center;

      & > * {
         grid-area: 1 / -1;
      }
   }

   .slides,
   .slides--infos {
      width: 100%;
      height: 100%;

      pointer-events: none;

      display: grid;
      place-items: center;
      & > * {
         grid-area: 1 / -1;
      }
   }

   /* ------------------------------------------------ */
   /* -------------------- SLIDE --------------------- */
   /* ------------------------------------------------ */

   .slide {
      --slide-tx: 0px;
      --slide-ty: 0vh;
      --padding: 0px;
      --offset: 0;

      width: var(--slide-width);
      height: auto;
      aspect-ratio: var(--slide-aspect);
      user-select: none;
      perspective: 800px;

      transform: perspective(1000px)
         translate3d(var(--slide-tx), var(--slide-ty), var(--slide-tz, 0))
         rotateY(var(--slide-rotY)) scale(var(--slide-scale));
      transition: transform var(--slide-transition-duration)
      var(--slide-transition-easing);
   }

   .slide[data-current] {
      --slide-scale: 1.2;
      --slide-tz: 0px;
      --slide-tx: 0px;
      --slide-rotY: 0;

      pointer-events: auto;
   }

   .slide[data-next] {
      --slide-tx: calc(1 * var(--slide-width) * 1.24);
      --slide-rotY: -48deg;
      @media(min-width: $sm_bp) {
         --slide-tx: calc(1 * var(--slide-width) * 1.07);
         --slide-rotY: -45deg;
      }
   }

   .slide[data-previous] {
      --slide-tx: calc(-1 * var(--slide-width) * 1.24);
      --slide-rotY: 48deg;
      @media(min-width: $sm_bp) {
         --slide-tx: calc(-1 * var(--slide-width) * 1.07);
         --slide-rotY: 45deg;
      }
   }

   .slide:not([data-current]) {
      --slide-scale: 1;
      --slide-tz: 0;

      pointer-events: none;
   }

   .slide[data-current] {
      @media(max-width: ($sm_bp - 1)) { --slide-scale: 1.6; }

      & .slide--image {
         filter: brightness(0.8);
      }
   }

   .slide:not([data-current]) {
      & .slide--image {
         filter: brightness(0.5);
      }
   }

   .slide__inner {
      --rotX: 0;
      --rotY: 0;
      --bgPosX: 0%;
      --bgPosY: 0%;

      position: relative;
      left: calc(var(--padding) / 2);
      top: calc(var(--padding) / 2);
      width: calc(100% - var(--padding));
      height: calc(100% - var(--padding));
      transform-style: preserve-3d;
      transform: rotateX(var(--rotX)) rotateY(var(--rotY));
   }

   .slide--image__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: var(--bs-border-radius);
   }

   .slide--image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%) scale(1.25)
      translate3d(var(--bgPosX), var(--bgPosY), 0);
      transition: filter var(--slide-transition-duration)
      var(--slide-transition-easing);
   }

   /* ------------ SLIDE INFO ---------------- */

   .slide-info {
      --padding: 0px;

      position: relative;
      width: var(--slide-width);
      height: 100%;
      aspect-ratio: var(--slide-aspect);
      user-select: none;
      perspective: 800px;
      z-index: 100;
   }

   .slide-info[data-current] {
      & .slide-info--text span {
         opacity: 1;
         transform: translate3d(0, 0, 0);
         transition-delay: 250ms;
      }
   }

   .slide-info:not([data-current]) {
      & .slide-info--text span {
         opacity: 0;
         transform: translate3d(0, 100%, 0);
         transition-delay: 0ms;
      }
   }

   .slide-info__inner {
      position: relative;
      left: calc(var(--padding) / 2);
      top: calc(var(--padding) / 2);
      width: calc(100% - var(--padding));
      height: calc(100% - var(--padding));
      transform-style: preserve-3d;
      transform: rotateX(var(--rotX)) rotateY(var(--rotY));
   }

   .slide-info--text__wrapper {
      --z-offset: 45px;

      position: absolute;
      height: fit-content;
      bottom: 9%;
      transform: translateZ(var(--z-offset));
      z-index: 2;
      pointer-events: none;

      left: -32%;
      @media(min-width: $sm_bp) { left: -13%; }
   }

   .slide-info--text {
      color: #fff;
      overflow: hidden;

      & span {
         display: block;
         white-space: nowrap;
         transition: var(--slide-transition-duration) var(--slide-transition-easing);
         transition-property: opacity, transform;
      }

      &[data-title]
      // &[data-subtitle]
      {
         font-weight: 600;
         line-height: 1.35;
         letter-spacing: 0.1cqw;
         white-space: nowrap;
         text-transform: uppercase;
         margin-bottom: .5rem;

         margin-left: 3.8cqw;
         @media(min-width: $sm_bp) { margin-left: 3.4cqw; }
         @media(min-width: $md_bp) { margin-left: 3cqw; }
         @media(min-width: $lg_bp) { margin-left: 2cqw; }

         font-size: 1.125rem;
         @media(min-width: $sm_bp) { font-size: 1.25rem; }
         @media(min-width: $md_bp) { font-size: 1.75rem; }
         @media(min-width: $lg_bp) { font-size: 2rem; }
      }

      &[data-description] {
         font-weight: 300;

         margin-left: 4.2cqw;
         @media(min-width: $sm_bp) { margin-left: 4cqw; }
         @media(min-width: $lg_bp) { margin-left: 3cqw; }

         font-size: 0.8125rem;
         @media(min-width: $sm_bp) { font-size: 0.9375rem; }
         @media(min-width: $lg_bp) { font-size: 1rem; }
      }
   }
}