
<div id="s_home_contact_cta" class="px-gutter">
    <!-- spacing | 58px, 96px, 112px -->
    <div class="mt-4 mt-sm-0 pt-10 pt-sm-12 pt-lg-13"></div>
    <!-- contact call to action section start -->
    <div class="d-center">
        <div class="col-120 col-lg-92 col-xl-88 col-xxl-82 my_card rounded-2">
            <div class="px-7 py-9 py-lg-10">
                <div class="d-flex flex-column d-center text-center py-xl-6">
                    <!-- card icon -->
                    <div class="my_icon d-center rounded-2 text-ocean-5">
                        <i class="bi bi-envelope fs-24"></i>
                    </div>
                    <!-- title -->
                    <h3 class="fw-600 h3 text-white fw-600 pt-8 mt-3 mt-xl-4 mb-4 mb-xl-5">
                        Let's Work Together
                    </h3>
                    <!-- text -->
                    <div class="body-text-sm">
                        I'm currently available for freelance work and open to new opportunities.
                        <br class="d-none d-md-block">
                        If you have a project in mind or want to collaborate, let's connect!
                    </div>
                    <!-- CTA button -->
                    <div class="d-flex pt-8 mt-4 mt-xl-5">
                        <a
                            href="/contact"
                            class="btn btn-arrow btn-arrow-primary"
                            slot="btn-arrow"
                            x-data="{ text: 'Get In Touch' }"
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- spacing | 58px, 96px, 112px -->
    <div class="mt-4 mt-sm-0 pt-10 pt-sm-12 pt-lg-13"></div>
</div>