
<div id="s_home_showcase" class="px-gutter">
    <!-- spacing | 58px, 96px, 112px -->
    <div class="mt-4 mt-sm-0 pt-10 pt-sm-12 pt-lg-13"></div>

    <!-- canvas -->
    <div class="canvas mx-auto">
        <div class="my_card card_tl js-hover-target">
            <div class="position-relative w-100 h-100">
                <!-- CTA hover element -->
                <div
                    slot="home-showcase-card-cta"
                    x-data="{
                        bsIconClass: 'bi-heart-pulse',
                        tag: 'Collaboration',
                        title: 'I prioritize client collaboration, fostering open communication',
                        ctaLink: '/contact', ctaText: 'Book A Call'
                    }"
                ></div>
            </div>
        </div>
        <div class="my_card card_tr js-hover-target">

        </div>
        <div class="my_card card_c js-hover-target">

        </div>
        <div class="my_card card_bl js-hover-target">
            <div class="position-relative w-100 h-100">
                <!-- CTA hover element -->
                <div
                    slot="home-showcase-card-cta"
                    x-data="{
                        bsIconClass: 'bi-geo-alt',
                        tag: 'Remote',
                        title: 'South Africa',
                        ctaLink: '/contact', ctaText: 'Connect Now'
                    }"
                ></div>
            </div>
        </div>
        <div class="my_card card_br js-hover-target">
            <div class="position-relative w-100 h-100">
                <!-- CTA hover element -->
                <div
                    slot="home-showcase-card-cta"
                    x-data="{
                        bsIconClass: 'bi-columns',
                        tag: 'The Inside Scoop',
                        title: 'Currently building a Saas Application',
                        ctaLink: '/projects', ctaText: 'View Recent Work'
                    }"
                ></div>
            </div>
        </div>
    </div>

    <!-- spacing | 58px, 96px, 112px -->
    <div class="mt-4 mt-sm-0 pt-10 pt-sm-12 pt-lg-13"></div>
</div>