@use "../theme" as *;
@use "../mixins" as *;

#s_navbar {

   --spacing-top: 0.75rem;

   position: fixed;
   width: 100vw;
   z-index: 1051;
   background-color: color-mix(in oklab, $frost-100 10%, transparent);
   backdrop-filter: blur(3px);

   // show / hide animation
   --curve: cubic-bezier(0.645, 0.045, 0.355, 1);
   --timing: 0.44s;
   --delay: 0.15s;
   
   transition: transform var(--timing) var(--curve);
   .navbar {
      transition: width var(--timing) var(--delay) var(--curve);
   }

   &.scrolled-bottom {
      transition: transform var(--timing) var(--delay) var(--curve);
      transform: translateY(-120%);
      .navbar {
         transition: width var(--timing) var(--curve);
         width: 74%;
      }
   }

   // navbar wrapper
   .navbar {
      height: var(--navbar-height);
      width: 100%;
      position: relative;
   }

   // navbar brand
   .navbar_brand {
      .my_logo {
         --logo-size: 60px;
         color: $frost-100;
      }
   }

   // navbar link
   .nav-link {
      &.active {
         color: $ocean-500;
      }
   }

   // theme toggle button
   .theme_toggle {
      width: 38px; height: 38px;
      cursor: pointer;
      img { width: 28px; height: 28px; }

      &:hover {
         background-color: rgba($frost-100, 0.08);
      }
   }

   // navbar toggle button
   .navbar_toggle {
      width: 35px;
      height: 25px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
         display: block;
         position: absolute; left: 0;
         height: 3px; width: 100%;
         background: #fff;
         border-radius: 3px;
         transform: rotate(0deg);
         transition: .25s ease-in-out;

         &:nth-child(1)                 { top: 0; }
         &:nth-child(2), &:nth-child(3) { top: 11px; }
         &:nth-child(4)                 { top: 22px; }
      }

      &.open span {
         &:nth-child(2) { transform: rotate(45deg); }
         &:nth-child(1) { top: 12px; width: 0; left: 50%; }
         &:nth-child(3) { transform: rotate(-45deg); }
         &:nth-child(4) { top: 12px; width: 0; left: 50%; }
      }
   }
}

/*
 * Mobile collapse state and animation
 */
#s_navbar {

   @media(max-width: ($lg_bp - 1)) {
      @include responsive-gutter;
      --space-top: calc(var(--bs-gutter-x) / 4);

      width: calc(100vw - (var(--space-top) * 2));
      margin: var(--space-top) var(--space-top) 0;
      border-radius: var(--bs-border-radius);

      .navbar {
         height: calc(var(--navbar-height) - var(--space-top));
      }

      .navbar-collapse {
         position: absolute;
         right: 0; top: 0; width: 0; height: 0;
         background-color: $midnight-850;
         border: 1px solid $frost-200;
         border-radius: var(--bs-border-radius);

         .inner {
            padding: 0 2rem;
            justify-content: center;
            height: 100%;
         }

         .nav-link {
            display: block;
            overflow-y: hidden;
            span { display: block }
         }

         &:not(.animatable) { opacity: 0; }
         &:not(.open).animatable { animation: hideNavCollapse 1.25s $eo-slow-transition forwards; }
         &.open.animatable {       animation: showNavCollapse 0.7s $eo-slow-transition forwards; }
      }
   }
}

@keyframes showNavCollapse {
   0%   { width: 0;     height: 0;     opacity: 0; }
   20%  {                              opacity: 1; }
   100% { width: 248px; height: 352px; }
}

@keyframes hideNavCollapse {
   0%   { width: 248px; height: 352px; }
   44%  { width: 248px; height: 352px; }
   80%  {                              opacity: 1; }
   100% { width: 0;     height: 0;     opacity: 0; }
}
