@use "../theme" as *;

#s_navbar {

   --spacing-top: 0.75rem;
   padding-top: var(--spacing-top);

   position: fixed;
   width: 100vw;
   z-index: 1051;

   // show / hide animation
   --curve: cubic-bezier(0.645, 0.045, 0.355, 1);
   --timing: 0.44s;
   --delay: 0.15s;
   
   transition: transform var(--timing) var(--curve);
   .navbar {
      transition: width var(--timing) var(--delay) var(--curve);
   }

   &.scrolled-bottom {
      transition: transform var(--timing) var(--delay) var(--curve);
      transform: translateY(-120%);
      .navbar {
         transition: width var(--timing) var(--curve);
         width: 74%;
      }
   }

   // navbar wrapper
   .navbar {
      height: calc(var(--navbar-height) - 2px - var(--spacing-top));
      width: 100%;
      border: 1px solid rgba($frost-100, 0.60);
      padding: 0 $sp_7;

      background-color: color-mix(in oklab, var(--bs-body-bg) 68%, transparent);
      backdrop-filter: blur(3px);
   }

   // navbar brand
   .navbar_brand {
      .my_logo {
         --logo-size: 60px;
         color: $frost-100;
      }
   }

   // navbar link
   .nav-link {
      &.active {
         color: $ocean-500;
      }
   }

   // theme toggle button
   .theme_toggle {
      width: 38px; height: 38px;
      cursor: pointer;
      img { width: 28px; height: 28px; }

      &:hover {
         background-color: rgba($frost-100, 0.08);
      }
   }

   // navbar toggle button
   .navbar_toggle {

   }
}