<!-- navbar -->
<nav
    id="s_navbar"
    class=""
    x-data="{
        navLinks: [
            { name: 'Home', route: '/' },
            { name: 'About', route: '/about' },
            { name: 'Projects', route: '/projects' },
            { name: 'Resume', route: '/resume' },
            { name: 'Contact', route: '/contact' },
        ],
        locationPath: window.location.pathname,

        // Scroll logic properties
        lastScroll: 0,
        thresholdBottom: 40,
        thresholdTop: 40,
        scrolledDown: false,
        scrolledUp: false,
        scrolledDownValue: 0,
        scrolledUpValue: 0,

        init() {
            // set the threshold
            this.thresholdBottom = window.innerHeight * 0.02; // 2% of window height
            this.thresholdTop = window.innerHeight * 0.24; // 24% of window height

            // Scroll listener
            window.addEventListener('scroll', () => {
                const currentScroll = window.scrollY;

                // If at the very top of the page, force the navbar to be visible.
                if (currentScroll <= 0) {
                    this.scrolledUp = true;
                    this.scrolledDown = false;
                    this.lastScroll = 0; // Reset last scroll position for accuracy
                    return; // Exit early
                }

                const delta = currentScroll - this.lastScroll;

                if (delta !== 0) {
                    if (delta > 0) {
                        this.scrolledUpValue = 0;
                        this.scrolledDownValue += delta;
                        if (this.scrolledDownValue >= this.thresholdBottom) {
                            this.scrolledDown = true;
                            this.scrolledUp = false;
                        }
                    } else {
                        this.scrolledDownValue = 0;
                        this.scrolledUpValue += Math.abs(delta);
                        if (this.scrolledUpValue >= this.thresholdTop) {
                            this.scrolledUp = true;
                            this.scrolledDown = false;
                        }
                    }
                }

                this.lastScroll = currentScroll;
            });
        }
    }"
    :class="{'scrolled-bottom': scrolledDown, 'scrolled-top': scrolledUp}"
>
    <div class="navbar d-flex align-items-center justify-content-between mx-auto px-gutter">
        <!-- navbar brand -->
        <a class="navbar_brand" href="/">
            <span slot="logo"></span>
        </a>
        <!-- navbar menu | collapse menu -->
        <div class="navbar-collapse">
            <div class="d-flex align-items-center gap-9">
                <!-- nav links -->
                <template x-for="navLink in navLinks" :key="navLink.route">
                    <div class="">
                        <a
                            class="nav-link body-text expanding-border"
                            :class="navLink.route === locationPath ? 'active' : ''"
                            :href="navLink.route"
                        >
                            <span x-text="navLink.name"></span>
                        </a>
                    </div>
                </template>
            </div>
        </div>
        <!-- Theme Toggle -->
        <button
            class="theme_toggle rounded-circle"
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-title="Feature Not Implemented" data-bs-custom-class="primary-tooltip"
        >
            <img src="/icons/moon.svg" alt="moon">
        </button>
        <!-- menu toggle | mobile, tablet -->
        <button
            class="navbar_toggle d-lg-none"
            type="button"
        >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>