
<!-- spacing -->
<div class="r_spacer-v2"></div>

<!-- about section start -->
<div
    slot="tag-title-text"
    x-data="{
        tag: 'Resume',
        title: 'Professional Experience',
        text: `
            I'm an aspiring developer specializing in web development, AI, and machine learning. <br class='d-none d-lg-block'>
            My goal is to leverage these technologies to create innovative <br class='d-none d-lg-block'>
            solutions for real-world problems.
        `
    }"
></div>

<!-- spacing -->
<div class="pb-9 mb-4"></div>

<!-- Download resume cta -->
<div class="d-flex justify-content-center">
    <a
        class="btn btn-arrow btn-arrow-primary"
        slot="btn-arrow"
        x-data="{ text: 'Download Resume' }"
        download="daniel_christensen_resume"
        href="/documents/Daniel_Christensen_Resume.pdf"
    ></a>
</div>

<!-- spacing -->
<div class="pb-9 mb-5"></div>
