<!-- navbar -->
<nav
    id="s_navbar"
    class=""
    x-data="navbarAlpine()"
    :class="{'scrolled-bottom': scrolledDown, 'scrolled-top': scrolledUp}"
>
    <div class="navbar d-flex align-items-center justify-content-between mx-auto px-gutter">
        <!-- navbar brand -->
        <a class="navbar_brand" href="/">
            <span slot="logo"></span>
        </a>
        <!-- navbar menu | collapse menu -->
        <div class="navbar-collapse" :class="{'open': collapseOpen, 'animatable': animatable}">
            <div class="inner d-flex flex-column flex-lg-row align-items-lg-center gap-7 gap-lg-9">
                <!-- nav links -->
                <template x-for="navLink in navLinks" :key="navLink.route">
                    <div class="">
                        <a
                            class="nav-link text-frost-1 expanding-border expand-lg fs-24 fs-lg-16"
                            :class="navLink.route === locationPath ? 'active' : ''"
                            :href="navLink.route"
                        >
                            <span x-text="navLink.name"></span>
                        </a>
                    </div>
                </template>
            </div>
        </div>
        <!-- Theme Toggle -->
        <button
            class="theme_toggle rounded-circle ms-auto ms-lg-0"
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-title="Feature Not Implemented" data-bs-custom-class="primary-tooltip"
        >
            <img src="/assets/icons/moon.svg" alt="moon">
        </button>
        <!-- menu toggle | mobile, tablet -->
        <button
            class="navbar_toggle d-lg-none ms-6"
            type="button" :class="{'open': collapseOpen}"
            @click="toggleCollapse()"
        >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>